* {
    font-family: outfit;
}
.onglets {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    background-color: aqua;
}

.logo_menu{
    

}
.logo{
    height: 100%;
    width:100%;
}
